.userList {
  flex: 4;
  padding-top: 30px;
  height: 1400;
  width: '100%';
}

.userListUser {
  display: flex;
  margin-top:-100px;
  text-decoration:none ;
}

.userListImg {
  margin-top:-100px;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}

.userListEdit{
    border: none;
    border-radius: 10px;
    padding: 5px 10px;
    background-color: #3bb077;
    color: white;
    cursor: pointer;
    margin-right: 20px;
}

.userListDelete{
    color: red;
    cursor: pointer;
    margin :-6px;
}
.userListDelete2{
  margin-top: -100px;
}

.inactive{
    border-radius:12px;
    color: white;
    background: #FF8500;
    border: none;
    padding: 5px 10px;
    color: white;
    margin-right: 20px;
}
    
.active{
  border-radius: 12px;
  color: white;
  background: #075f04 ;
  border: none;
  padding: 5px 10px;
  color: white;
  margin-right: 20px;
}
  