

.form-field {
  flex: 2;
}
.output {
  margin-left: 3rem;
  flex: 1;
}
.form-field label{
  margin: 0;
  font-size: 10px;
  font-weight: 50;
  color: rgb(84, 84, 84);
}

input {
  height: 20px;
  width: 80%;
  padding: 5px;
  outline: none;
  border-radius: 5px;
  border: 1px solid rgb(220, 220, 220);
}

input:focus {
  border: 1px solid rgb(0, 208, 255);
}

.services {
  display: flex;
  justify-content: space-between;
}
.first-division {
  display: flex;
  flex-direction: column;
  margin: 0 5px 0.5rem 0;
  width: 80%;
}

.first-division button {
  align-self: flex-start;
  display: flex;
  align-items: center;
  margin-top: 0.5rem;
  color: rgb(0, 208, 255);
  border: 1px solid rgb(0, 208, 255);
}

.second-division button {
  color: red;
  border: 1px solid red;
}
.userList {
  flex: 4;
  padding-top: 30px;
  height: 1400;
  width: '100%';
}

.userListUser {
  display: flex;
  margin-top:-100px;
  text-decoration:none ;
}

.userListImg {
  margin-top:-100px;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}
.add{
  cursor: pointer;
  display: 'flex';
  align-items: 'left';
  flex-wrap: 'wrap';
}
.userListEdit{
    border: none;
    border-radius: 10px;
    padding: 5px 10px;
    background-color: #3bb077;
    color: white;
    cursor: pointer;
    margin-right: 20px;
}

.userListDelete{
    color: red;
    cursor: pointer;
    margin :-6px;
}
.userListDelete2{
  margin-top: -100px;
}

.inactive{
    border-radius:12px;
    color: white;
    background: #FF8500;
    border: none;
    padding: 5px 10px;
    color: white;
    margin-right: 20px;
}
    
.active{
  border-radius: 12px;
  color: white;
  background: #075f04 ;
  border: none;
  padding: 5px 10px;
  color: white;
  margin-right: 20px;
}
  